h1 {
	color: blue;
	border-bottom: 5px solid black;
	font-style: oblique;
}

#graph {
    font-style: oblique;
    font-size: 18px;
}

#successfulSearch {
	color: green;
	font-style: oblique;
}

#failedSearch {
	color: red;
	font-style: oblique;
}

#protectedUser {
    color: red;
    font-style: oblique;
}

#none {
    color: red;
    font-style: oblique;
}

#tooMany{
    color: red;
    font-style: oblique;
}

#sameInput {
    color: red;
    font-style: oblique;
}

#enoughInput{
    color: darkorange;
    font-style: oblique;
}

#userInput{
    font-style: italic;
}

#descriptions {
    font-weight: bold;
}

.description {
    border-style: solid;
    border-width: 3px;
    padding: 3px;
    font-weight: bold;
}

#description1 {
    border-color: solid black;
}

#description2 {
    border-color: red;
}

#description3 {
    border-color: blue;
}

#description4 {
    border-color: green;
}

#description5 {
    border-color: yellow;
}

.profilephoto {
    height: 60px;
    width: 60px;
}


/*.btn-danger {
    : 50px;
}*/



/*
.btn-danger {
    background: none;
    border: none;
}*/

/*.add {
        
    -moz-box-shadow:inset 0px 0px 0px 3px #9acc85;
    -webkit-box-shadow:inset 0px 0px 0px 3px #9acc85;
    box-shadow:inset 0px 0px 0px 3px #9acc85;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    
    background-color:#74ad5a;
    
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    
    border:4px solid #3b6e22;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:6px 25px;
    text-decoration:none;
    
    text-shadow:0px 0px 0px #92b879;
        
}

.add:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    
    background-color:#68a54b;
}

.add:active {
    position:relative;
    top:1px;
}

.update {
        
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    
    background-color:#007dc1;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    border:1px solid #124d77;
    
    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:20px;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #154682;
    
}

.update:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    
    background-color:#0061a7;
}

.update:active {
    position:relative;
    top:1px;
}*/