#backtotop {
    text-align: center;
}

#graph {
    font-style: oblique;
    font-size: 18px;
}

.btn-custom {
  background-color: hsl(277, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d00ff", endColorstr="#5e0099");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#9d00ff), to(#5e0099));
  background-image: -moz-linear-gradient(top, #9d00ff, #5e0099);
  background-image: -ms-linear-gradient(top, #9d00ff, #5e0099);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d00ff), color-stop(100%, #5e0099));
  background-image: -webkit-linear-gradient(top, #9d00ff, #5e0099);
  background-image: -o-linear-gradient(top, #9d00ff, #5e0099);
  background-image: linear-gradient(#9d00ff, #5e0099);
  border-color: #5e0099 #5e0099 hsl(277, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-custom2 {
  background-color: hsl(176, 65%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fddd4", endColorstr="#20978f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5fddd4), to(#20978f));
  background-image: -moz-linear-gradient(top, #5fddd4, #20978f);
  background-image: -ms-linear-gradient(top, #5fddd4, #20978f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fddd4), color-stop(100%, #20978f));
  background-image: -webkit-linear-gradient(top, #5fddd4, #20978f);
  background-image: -o-linear-gradient(top, #5fddd4, #20978f);
  background-image: linear-gradient(#5fddd4, #20978f);
  border-color: #20978f #20978f hsl(176, 65%, 29.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}

.btn-custom3 {
  background-color: hsl(120, 98%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2ffc2f", endColorstr="#01b001");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2ffc2f), to(#01b001));
  background-image: -moz-linear-gradient(top, #2ffc2f, #01b001);
  background-image: -ms-linear-gradient(top, #2ffc2f, #01b001);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2ffc2f), color-stop(100%, #01b001));
  background-image: -webkit-linear-gradient(top, #2ffc2f, #01b001);
  background-image: -o-linear-gradient(top, #2ffc2f, #01b001);
  background-image: linear-gradient(#2ffc2f, #01b001);
  border-color: #01b001 #01b001 hsl(120, 98%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}

#panel {
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    border-color: solid black;
}

#individualpaneloptions {
    font-style: italic;
    text-align: center;
}

#paneltitle {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#statistics {
    font-style: italic;
    font-size: 14px;
    border-style: solid;
    border-width: 3px;
    padding: 3px;
    border-color: hsl(120, 98%, 35%);
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
            
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.grid .tick {
    stroke: grey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 1;
}

.timewarning {
    text-align: center;
    color: blue;
    font-style: italic;
}

#successfulSearch {
	color: green;
	font-style: oblique;
}

#noExistence {
    color: red;
    font-style: oblique;
}

#failedSearch {
	color: red;
	font-style: oblique;
}

#none {
    color: red;
    font-style: oblique;
}

#tooMany{
    color: red;
    font-style: oblique;
}

#sameInput {
    color: red;
    font-style: oblique;
}

#enoughInput{
    color: darkorange;
    font-style: oblique;
}

#userInput{
    font-style: italic;
}

#infoAboveSearch {
    font-style: oblique;
}

#descriptions {
    font-style: italic;
    text-align: center;
}

#authors {
    font-weight: bold;
    font-style: oblique;
    padding: 3px;
    border-style: ridge;
    border-width: 6px;
    border-color: black;
    text-align: center;
}

.graphInstructions {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#btn-group-wrap {
    text-align: center;
}

#texts {
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    font-size: 14px;
}

.description {
    border-style: solid;
    border-width: 3px;
    padding: 3px;
    font-weight: bold;
}

#description1 {
    border-color: solid black;
}

#description2 {
    border-color: red;
}

#description3 {
    border-color: blue;
}

#description4 {
    border-color: green;
}

#description5 {
    border-color: purple;
}

.profilephoto {
    height: 60px;
    width: 60px;
}

.tweettext {
    border-style: solid;
    border-width: 3px;
    padding: 3px;
    font-weight: bold;
}

#tweettext1 {
    border-color: solid black;
}

#tweettext2 {
    border-color: red;
}

#tweettext3 {
    border-color: blue;
}

#tweettext4 {
    border-color: green;
}

#tweettext5 {
    border-color: purple;
}

/*#gmttime {
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    color: green;
    text-align: left;
    border-style: solid;
    border-width: 3px;
    padding: 6px;
    border-color: black;
    top: 100px; 
    left: 10px; 
    position: fixed;
}

#localtime {
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    color: blue;
    text-align: left;
    border-style: solid;
    border-width: 3px;
    padding: 6px;
    padding-right: 7px;
    border-color: black;
    top: 180px; 
    left: 10px; 
    position: fixed;
}

.back-to-top {
    top: 600px;
    left: 10px;
    position: fixed;
    color: black;
    text-align: center;
}*/

/*.showtime{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;
    
}
.showtime:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}*/

/*.showtime{
    border: 5px black;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;    
}

.showtime:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.time{
    /*margin:100px;
    float:left;
    position:relative;
    cursor:pointer;
}

.time:hover .showtime{
    display:block;
}*/